@model SportsStore.Domain.Entities.Product

@{
    ViewBag.Title = "Sports Store - " 
        + @Model.Name + " Details";
}

<h2>
    <strong>@Model.Name</strong>
    <span class="pull-right label label-primary">@Model.Price.ToString("c")</span>
</h2>

<div class="well">
    @if (Model.ImageData != null)
    {
        <div class="pull-left img-thumbnail" style="margin-right: 10px">
            <a href="@Url.Action("ViewImage", "Product", new { productId = Model.ProductID })">
                <img class="img-thumbnail" width="75" height="75"
                     src="@Url.Action("GetImage", "Product", new { productId = Model.ProductID })"
                     alt="@Model.Description" />
            </a>
        </div>
    }

    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="pull-right">
            @Html.HiddenFor(p => p.ProductID)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Add to cart" />
        </div>
    }

    <span class="lead">@Model.Description</span>
    <div class="container">
       <p>@Model.DetailedDescription</p>
    </div>
</div>

<div class="text-center">
    <p>
        @Html.ActionLink("View Similar Products", "List", "Product", 
               new { category = @Model.Category }, null)
    </p>
    <p>@Html.ActionLink("View More Products", "List", "Product")</p>
</div>
